body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

#westCanvas {
    position: fixed;
    height: 100%;
    width: 200px;
    border: solid black 1px;
    right: -5px;
    bottom: 150px;
    background-color: whitesmoke;
}

#bottomCanvas {
    position: fixed;
    height: 150px;
    width: 100%;
    border: solid black 1px;
    bottom: -5px;
    left: 0px;
    right: 0px;
    background-color: papayawhip;
}