body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

#mainCanvas {
 /   background-color: red;
    width: 100%;
}

#bottomCanvas {
    position: fixed;
    height: 100%;
    width: 200px;
    border: solid black 1px;
    right: 0px;
    bottom: 150px;
    background-color: whitesmoke;
}

#westCanvas {
    position: fixed;
    height: 150px;
    width: 100%;
    border: solid black 1px;
    bottom: 0px;
    left: 0px;
    background-color: papayawhip;
}